# "org" ensures this Service is used with the correct Serverless Framework Access Key.
org: codsensei
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: aws-lamda-demo
# "service" is the name of this project. This will also be added to your AWS resource names.
service: aws-lamda-demo

provider:
  name: aws
  runtime: nodejs20.x
  region: ap-south-1
  # Uncomment to easily set up a custom domain. Read the docs for more details:
  # https://www.serverless.com/framework/docs/providers/aws/guide/domains
  # domain: api.example.com

functions:
  hello:
    handler: handler.hello
    events:
      - httpApi:
          path: /
          method: get
  helloKrishna:
    handler: hello.handler
    events:
      - httpApi:
          path: /Krishna
          method: get
